@use '../../styles/variables_admin.scss' as *;

$toggleHeight: 40px;
$toggleWidth: 18px;

.admin-drawer {
  position: relative;
  min-width: $drawerWidth;
  max-width: $drawerWidth;
  background-color: $color1;
  color: $color3;
  height: 100%;
  overflow: visible;
  padding: 1.2em 1em;
  transition:
    transform $closeDrawerDuration ease,
    opacity $closeDrawerDuration ease,
    width $closeDrawerDuration ease,
    padding $closeDrawerDuration ease,
    border-right calc($closeDrawerDuration/2) ease;
  z-index: 10;
  border-right: 2px solid $borderColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
      overflow-y: auto;

  .admin-drawer-nav {
    display: flex;
    flex-direction: column;
    gap: $margin-s;
  }

  &.collapsed {
    transform: translateX(-100%);
    width: 0;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid $color1;
  }

  .drawer-toggle {
    position: absolute;
    top: 2.79em;
    left: $drawerWidth;
    width: $toggleWidth;
    min-width: $toggleWidth;
    height: $toggleHeight;
    background-color: $color3;
    color: $color1;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 22;
  }

  .admin-drawer-title h2 {
    font-size: 1.4em;
    margin-bottom: 1em;
    text-align: center;
    color: $color3;
    color: rgba($color3, 0.3);
    text-transform: none;
    font-weight: normal;
  }

  .admin-drawer-group-title {
    color: $color2;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.05rem;
    letter-spacing: $letter-spacing-basic;
  }

  .admin-drawer-menu-item {
    cursor: pointer;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    margin: 0.2em 0;
    transition: background 0.2s ease;
    position: relative;

    &:hover {
      background-color: rgba($color3, 0.3);
    }

    &.active {
      background-color: rgba($color3, 1);
      color: $color1;
    }
  }

  .admin-drawer-footer {
    margin-top: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $margin-xs;

    .admin-footer-logo img {
      height: 60px;
      margin-bottom: 0.5rem;
    }

    .admin-btn {
      @include admin-btn;
      font-size: 0.7rem;
      padding: $margin-xs $margin-s;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

$margin-side: 4%;
$content-height: 80%;

$smooth-border: 1px solid hsla(228, 9%, 89%, 0.5);
$shadow-header:
  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-header-smooth: 0 8px 14px 0 rgba(0, 0, 0, 0.04);

.admin-header-mobile {
  display: none;
  height: $mobileHeaderHeight;
  z-index: 100;
  width: 100%;
  background-color: $color1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $margin-side;
    align-items: center;
    height: $mobileHeaderHeight;
    background-color: $color1 !important;
    color: $color3;
    border-bottom: $smooth-border;

    .logo-link {
      height: $content-height;
      margin-left: $margin-side;
      margin-right: $margin-side;

      img {
        max-height: 100%;
        width: auto;
      }
    }

    .mobile-admin-menu {
      display: none;
      box-shadow: $shadow-header;
      background-color: $color1;
      position: absolute;
      top: $mobileHeaderHeight;
      left: 0;
      width: 100%;
      z-index: 99;
      overflow-y: auto;
      max-height: calc(100vh - #{$mobileHeaderHeight});

      /****************** ANIMATION ******************/
      &.animated {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.4s ease;

        &.is-active {
          pointer-events: initial;
          animation: rotateMenu 400ms ease-in-out forwards;
          transform-origin: top center;
          opacity: 1;
          transition: opacity 0.4s ease;
          display: flex !important;
          flex-direction: column;
          padding: $margin-s 0;
          gap: $margin-s;

          .admin-drawer-group {
            padding: 0 $margin-s;

            h3 {
              color: $color2;
              font-weight: normal;
              text-transform: uppercase;
              font-size: calc($title1-size*0.8);
              letter-spacing: $letter-spacing-basic;
            }

            .admin-drawer-menu-item {
              cursor: pointer;
              padding: 0.5em 0.8em;
              border-radius: 4px;
              margin: 0.2em 0;
              transition: background 0.2s ease;

              &:hover {
                background-color: rgba($color3, 0.3);
              }

              &.active {
                background-color: rgba($color3, 1);
                color: $color1;
              }
            }
          }

          ul {
            list-style: none;
            margin: 0;
            width: 100%;

            li {
              margin: $margin-s 0;

              a {
                display: bloc;
                padding: $margin-xs $margin-m;
                color: $color3;
                text-decoration: none;
              font-size: calc($title1-size*0.7);
                transition: all 0.3s ease;

                &:hover {
                  background-color: rgba($color2, 0.1);
                }
              }
            }
          }
        }

        &.closing {
          display: flex !important;
          pointer-events: none;
          animation: closeMenu 300ms ease-in-out forwards;
          transform-origin: top center;
        }
      }

      /****************** KEYFRAMES ******************/
      @keyframes rotateMenu {
        0% {
          transform: rotateX(-90deg);
        }
        70% {
          transform: rotateX(20deg);
        }
        100% {
          transform: rotateX(0deg);
        }
      }

      @keyframes closeMenu {
        0% {
          transform: scaleY(1);
          opacity: 1;
          transform-origin: top;
        }
        100% {
          transform: scaleY(0);
          opacity: 0;
          transform-origin: top;
        }
      }
    }

    .admin-header-right {
      display: flex;
      flex-direction: row;
      gap: 1.6em;
      padding-right: $margin-xs;
      align-items: center;

      .admin-btn {
        font-size: 0.55rem;
        padding: $margin-xs $margin-s;
        letter-spacing: $letter-spacing-basic;
      }

      $burger-line-height: 3px;
      $burger-height: 1.5em;
      .burger {
        height: $burger-height;
        width: calc($burger-height * 1.1);
        max-width: 3em;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .burger-line {
          height: $burger-line-height;
          width: 100%;
          background-color: $color3;
          border-radius: 2px;
          transition:
            transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
            opacity 0.25s ease;
          position: absolute;
          left: 0;
        }

        .burger-line:nth-child(1) {
          top: 0;
        }

        .burger-line:nth-child(2) {
          top: calc(50% - $burger-line-height / 2);
        }

        .burger-line:nth-child(3) {
          bottom: 0;
        }

        &.is-active {
          .burger-line {
            &:nth-child(1) {
              top: calc(50% - $burger-line-height / 2);
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
              transform: translateX(10px);
            }

            &:nth-child(3) {
              top: calc(50% - $burger-line-height / 2);
              bottom: auto;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: flex;
  }
}
