@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

.activity-page-layout {
    min-height: 100vh;
    width: 100%;
    background-color: $color1;
    color: $color3;
    padding-top:calc($header-height + $margin-m);
}