@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

#contact-container {
  $section1-height: 74vh;
  $slanted-padding: clamp(4rem, 3.382rem + 1.798vw, 5rem);
  justify-content: start !important;

  .section1 {
    position: relative;
    width: 100%;
    min-height: $section1-height;
    height: $section1-height;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: $slanted-padding;

    @media (max-width: $mobile-breakpoint) {
      height: auto;
      min-height: 45vh;
    }

    // Background image
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/img/activities/rando-frise.webp');
      background-size: cover;
      background-position: center;
      z-index: 1;
      filter: brightness(0.75) saturate(0.85);
    }

    .full-wrapper {
      @include full-page-wrapper();
      position: relative;
      z-index: 10;
      padding: $margin-xl 0;

      .full-content {
        @include full-page-content-container($maxWidth: 1100px);

        .contact-cards-row {
          display: grid;
          gap: $margin-s;
          width: 100%;
          justify-items: center;

          @media (min-width: $mobile-breakpoint-s) {
            grid-template-columns: repeat(2, 1fr);
            width: auto;
            gap: $margin-l;
          }

          @media (max-width: $mobile-breakpoint-s) {
            aspect-ratio: auto;
          }

          .contact-card {
            @include info-card-base();
            width: 100%;
            @media (min-width: $mobile-breakpoint-s) {
              width: fit-content;
              min-width: 320px;
              max-width: 100%;
              aspect-ratio: 1 / 1;
            }

            .card-title {
              font-family: $title-font;
              font-size: calc($title4-font-size * 1.5);
              text-align: center;
              text-shadow: $ultra-light-shadow;
              font-weight: normal;
            }

            // Card adresse
            &.address-card {
              gap: $margin-m;
              address {
                font-style: normal;
                color: $color1;
                text-align: center;

                p {
                  margin: 0.25rem 0;
                  font-size: $subtext-font-size;
                  text-shadow: $ultra-light-shadow;
                }
              }

              .info-btn {
                @include custom-btn();
              }
            }

            // Card contact info
            &.contact-info-card {
              gap: $margin-m;

              .contact-wrapper {
                @include flex-box($margin-xs);

                .contact-item {
                  @include flex-row($margin-xs);
                  text-decoration: none;
                  color: $color2-strong;

                  &:hover {
                    text-decoration: underline;
                  }

                  .contact-icon {
                    width: $margin-s;
                    height: $margin-s;
                    fill: $color2-strong;
                  }

                  strong {
                    @include content-h4($color2-strong);
                    font-size: $title4-font-size;
                    text-align: center;
                  }

                  a {
                    @include inline-link();
                  }
                }
              }
            }
          }
        }
      }
    }

    .section-wrapper {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 1100px;
      padding: 0 $margin-m;
    }
  }

  .section2 {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin-top: calc($slanted-padding * -1);
    padding-top: calc($slanted-padding * 0.8);

    @include slanted-border('right', $color2);
    z-index: 20;
    background-color: $color1;
    background-image: $bg-texture-url;

    @media (max-width: $mobile-breakpoint) {
      padding-top: $slanted-padding;
    }

    .full-wrapper {
      @include full-page-wrapper();

      .full-content {
        @include full-page-content-container($width: 90%, $maxWidth: 1100px);

        .header-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: $margin-s;

          @media (max-width: $mobile-breakpoint) {
            align-items: center;
          }

          h3 {
            @include content-h3();
            font-weight: normal;
            font-size: calc($title2-font-size * 0.8);
            font-family: $home-font;
            color: $color3;
            text-shadow: $light-shadow;
          }

          .main-hr {
            @include custom-hr($color3);
            width: 8rem;
            margin-left: $margin-s;
          }
        }

        .reasons-grid {
          display: grid;
          gap: $margin-s;
          grid-auto-rows: 1fr;


          @media (min-width: $mobile-breakpoint) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media (max-width: $mobile-breakpoint) and (min-width: $mobile-breakpoint-s) {
            grid-template-columns: repeat(2, 1fr);
          }

          .reason-card {
            @include info-card-base();
            padding: $margin-m;
            border-left: 4px solid $color2;
            background: $bg-texture-url;
            background-color: $color3;

            h3 {
              @include content-h4($color2-strong);
              text-align: start;
              margin-bottom: $margin-xs;
              font-size: $title4-font-size;
            }

            p {
              @include basic-text-page($color1);
              text-align: center;
              font-size: $subtext-font-size;
              line-height: 1.3;
              text-shadow: $ultra-light-shadow;
            }
          }
        }
      }
    }
  }

  .section3 {
    width: 100%;
    flex: 1;
    @include flex-box(0);
    .full-wrapper {
      @include full-page-wrapper();
      padding: $margin-l 0;

      .full-content {
        @include full-page-content-container($width: 94%, $maxWidth: 1100px);

        .contact-note {
          width: 100%;
          padding: $margin-s;

          p {
            @include basic-text-page($color3);
            text-align: center;

            a {
              @include inline-link();
              color: $color2-strong;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
