@use './variables' as *;

$footer-bg: $color-bg-stronger;
$footer-text-color: $color1;

$social-svg-width: 2.5rem;

.footer {
  z-index: 100;
  width: 100%;
  height: $footer-height;
  background: $footer-bg;
  border-top: $border-section-separation;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  font-family: $text-font;
  font-size: calc($text-font-size * 0.75);
  content-visibility: auto;
  contain-intrinsic-size: auto $footer-height;
  overflow: hidden;

  .footer-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0 $margin-s;
    gap: $margin-xl;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;

    .footer-left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $margin-xl;

      .logo-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: $margin-m;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          height: 100%;

          img {
            max-height: 60%;
            width: auto;
            object-fit: contain;
          }
        }
      }

      .footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $footer-text-color;
        line-height: 1.4;

        address {
          font-style: normal;
          margin: 0;
        }

        p {
          margin: 0.25rem 0;

          strong {
            font-size: calc($text-font-size * 1);
            text-transform: uppercase;
            color: $color2;
            font-family: $title-font;
            letter-spacing: calc($letter-spacing-basic * 3);
            text-shadow: $text-shadow-light;
          }
        }

        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer-right {
      display: flex;
      flex-direction: row;
      gap: $margin-xl;

      .footer-nav {
        ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: $margin-xs;
          list-style: none;
          padding: 0;
          margin: 0;
          overflow: hidden;
          max-height: calc($footer-height * 0.65);

          li a {
            color: $footer-text-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .footer-social {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
          $hover-delay: $anim-hover-duration;
          display: flex;
          align-items: center;
          justify-content: center;
          width: $social-svg-width;
          height: $social-svg-width;
          border-radius: 50%;
          background-color: rgba($footer-text-color, 0.9);
          transition: background-color $hover-delay ease;
          animation-name: none;

          svg {
            width: calc($social-svg-width * 0.5);
            height: calc($social-svg-width * 0.5);
            transition: fill $hover-delay ease;
            fill: $color3;

            g {
              fill: $color3;
            }
          }

          &:hover {
            background-color: rgba($color2, 0.9);
            animation: spin-once calc($hover-delay * 1) ease-in-out;

            svg {
              fill: $color3;

              g {
                fill: $color3;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      gap: $margin-xs;
      padding: $margin-m $margin-xl;
      justify-content: space-around;
      overflow: auto;
      height: auto;
      min-height: $footer-height;

      .footer-left {
        flex-direction: column-reverse;
        gap: $margin-m;

        .logo-container {
          gap: $margin-l;
          a img {
            max-height: 5rem;
          }
        }

        .footer-contact address p {
          text-align: center;

          a {
            justify-content: center;
          }
        }
      }

      .footer-right {
        flex-direction: column;
        align-items: center;
        gap: $margin-l;

        .footer-social {
          justify-content: center;

          a {
            width: calc($social-svg-width * 1.3);
            height: calc($social-svg-width * 1.3);

            svg {
              width: calc($social-svg-width * 0.6);
              height: calc($social-svg-width * 0.6);
            }
          }
        }

        .footer-nav ul {
          max-height: none;
          gap: $margin-s;
        }
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      .footer-nav {
        text-align: center;
      }
    }

    @media screen and (max-width: $mobile-breakpoint-s) {
      flex-direction: column;
      gap: $margin-l;

      .footer-left .logo-container a img {
        max-height: 4rem;
      }

      .footer-right .footer-social {
        gap: $margin-xl;
      }
    }
  }

  .subfooter {
    width: 100%;
    background-color: rgba($color3, 0.7);
    color: $footer-text-color;
    text-align: center;
    padding: 0.25em;
    font-size: calc($text-font-size * 0.65);

    a {
      color: inherit;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    height: auto;
    min-height: $footer-height;
  }
}
