@use './variables' as *;

/* === Header variables === */
$header-logo-padding: 10px;
$margin-side: $margin-xl;
$content-height: 80%;

$shadow-menu:
  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);

$header-text-color: $color1;
$submenu-text-color: $color1;
$submenu-bg-color: $color3;
$header-bg-color: $color-bg-stronger;

/* === Header === */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $header-bg-color;
  opacity: 1;
  will-change: transform, opacity;
  $transi-delay: 0.4s;
  transition:
    transform $transi-delay cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity $transi-delay ease-in-out,
    background $transi-delay ease-in-out;

  &.header-hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.header-repop {
    border-bottom: 1px solid $color2;
    background: $color3;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    gap: $margin-m;
    padding-left: $margin-side;
    padding-right: $margin-side;
    align-items: center;
    height: 100%;
    color: $header-text-color;
    padding-bottom: 0.1em;

    .logo-container {
      height: calc(100% + 3em);
      display: flex;
      align-items: center;
      position: relative;
      z-index: 101;

      .logo-link {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        position: relative;
        transform: translateY(20%);

        img {
          margin-top: 2px;
          height: $content-height;
          max-height: 100%;
          width: auto;
          filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
        }
      }
    }

    /* === Menu Desktop === */
    .menu-desktop {
      display: flex;
      gap: 2.5em;
      font-family: $title-font;
      letter-spacing: $letter-spacing-basic;

      .menu-link {
        text-decoration: none;
        font-size: 1.2rem;
        transition: all $anim-hover-duration ease;
        white-space: nowrap;
        color: $header-text-color;
        position: relative;
        cursor: pointer;
        text-shadow: $light-shadow;

        &::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 0;
          height: 2px;
          background: $color2;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 95%;
        }
      }

      /* Submenu Desktop */
      .menu-item.has-submenu {
        position: relative;

        .submenu {
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 200px;
          background: $submenu-bg-color;
          box-shadow: $shadow-menu;
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10px);
          transition: all $anim-hover-duration ease;
          padding: 0.5rem 0;
          margin-top: 1.35rem;

          .submenu-link {
            display: block;
            padding: 0.8rem 1.5rem;
            color: $submenu-text-color;
            text-decoration: none;
            font-size: 1rem;
            white-space: nowrap;
            font-family: $title-font;

            &:hover {
              background: rgba($color1, 1);
              color: $color3;
            }
          }
        }

        &.open .submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    /* === Burger === */
    $burger-line-height: 3px;
    $burger-height: $content-height * 0.5;

    .burger {
      display: none;
      height: $burger-height;
      width: calc($burger-height * 0.2);
      max-width: 1.8em;
      background: transparent;
      border: none;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      .burger-line {
        height: $burger-line-height;
        width: 100%;
        background-color: $color1;
        border-radius: 2px;
        transition:
          transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
          opacity 0.25s ease;
        position: absolute;
        left: 0;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: calc(50% - $burger-line-height / 2);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }

      &.is-active .burger-line {
        &:nth-child(1) {
          top: calc(50% - $burger-line-height / 2);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translateX(10px);
        }

        &:nth-child(3) {
          top: calc(50% - $burger-line-height / 2);
          bottom: auto;
          transform: rotate(-45deg);
        }
      }
    }
  }

  /* === Mobile Menu === */
  .mobile-menu-container {
    display: none;
    box-shadow: $shadow-menu;
    background-color: $submenu-bg-color;
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;
    z-index: 99;
    overflow-y: auto;
    max-height: calc(100vh - #{$header-height});
    padding-top: $margin-s;

    &.animated {
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.4s ease;

      &.is-active {
        pointer-events: initial;
        animation: openMenu 400ms ease-in-out forwards;
        transform-origin: top center;
        opacity: 1;
        display: flex !important;
        flex-direction: column;
      }

      &.closing {
        display: flex !important;
        pointer-events: none;
        animation: closeMenu 300ms ease-in-out forwards;
        transform-origin: top center;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        border-bottom: 1px solid rgba($color3, 0.1);

        &:last-child {
          border-bottom: none;
        }

        .menu-link {
          display: block;
          padding: 1.2rem 2rem;
          color: $submenu-text-color;
          text-decoration: none;
          font-size: 1.2rem;
          font-family: $title-font;
          letter-spacing: $letter-spacing-basic;
          background: none;
          border: none;
          width: 100%;
          text-align: left;
          cursor: pointer;
          text-shadow: $light-shadow;
          transition:
            background-color,
            color 0.2s ease;

          &:hover {
            color: $submenu-bg-color;
            background-color: $submenu-text-color;
          }
        }

        /* Submenu Mobile */
        &.has-submenu {
          .submenu-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow {
              font-size: 1.5rem;
              transition: transform 0.3s ease;
            }
          }

          &.open .submenu-toggle .arrow {
            transform: rotate(90deg);
          }

          &.open .submenu {
            max-height: 100dvh !important;
          }

          .submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            li {
              border-bottom: 1px solid rgba($color3, 0.05);

              &:last-child {
                border-bottom: none;
              }

              .submenu-link {
                display: block;
                padding: $margin-s $margin-m $margin-s $margin-xl;
                color: $submenu-text-color;
                text-decoration: none;
                font-size: 1.1rem;
                transition:
                  background-color,
                  color 0.2s ease;
                font-family: $title-font;

                &:hover {
                  color: $submenu-bg-color;
                  background-color: $submenu-text-color;
                }
              }
            }
          }
        }
      }
    }
  }

  /* === Responsive === */
  @media screen and (max-width: $mobile-breakpoint) {
    height: $mobile-header-height;

    .navbar {
      padding-left: calc($margin-side * 0.5);
      padding-right: calc($margin-side * 0.5);

      .logo-container .logo-link img {
        height: calc($content-height * 0.8);
      }

      .burger {
        display: flex;
        margin-right: $margin-m;
        width: 3rem;
      }

      .menu-desktop {
        display: none;
      }
    }

    .mobile-menu-container {
      top: $mobile-header-height;
    }
  }
}

.has-mobile-banner {
  .header {
    @media (max-width: $mobile-breakpoint) {
      margin-top: calc($mobile-banner-height - 0.1rem);
    }
  }
}

/* === Animations === */
@keyframes openMenu {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes closeMenu {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}
