@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

$transition-display: 0.3s;

$video-section-overlay-height: 75vh;
$video-section-overlay-height-mobile: 135vh;

html {
  background-color: transparent;
  color: $color2;
  width: 100%;

  body {
    width: 100%;
    min-height: 100%;
    height: 100dvh;
    color: $color2;
    background-color: $color1;

    #main-container {
      min-height: calc(100vh + $footer-height - $header-height);

      .content-container {
        @include flex-box(0);
        justify-content: flex-start;
        min-height: calc(100vh - $header-height);
        opacity: 0;
        transition: opacity $transition-display ease-in;
        padding-top: $header-height;

        h2 {
          font-size: $title2-font-size;
          font-family: $title-font;
          letter-spacing: $letter-spacing-basic;
          color: $color2;
          margin-bottom: $margin-l;
          margin-top: $margin-l;
        }

        p {
          font-size: $text-font-size;
          font-family: $text-font;
          color: $color3;
        }

        &#home-container {
          height: auto;
          padding-top: 0;

          .announcement-section {
            width: 100%;
            padding: $margin-l calc($margin-xl * 2);
            position: relative;
            z-index: 102;

            .announcement-wrapper {
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: $annonce-height;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              padding: $margin-l;
              position: relative;
              border-radius: 20px;

              &::before {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba(black, 0.75);
                border-radius: 20px;
              }

              .announcement-content {
                position: relative;
                z-index: 1;
                color: $color2;
                font-family: $text-font;

                .announcement-title {
                  font-size: calc($title2-font-size);
                  text-transform: uppercase;
                  margin-bottom: $margin-s;
                  color: $color3;
                }

                .announcement-text {
                  font-size: calc($text-font-size * 1.1);
                  color: $color3;
                }
              }
            }

            @media screen and (max-width: $mobile-breakpoint) {
              padding: $margin-l $margin-m;

              .announcement-section {
                .announcement-wrapper {
                  background-position: center;
                }
              }
            }
          }

          .video-wrapper {
            position: absolute;
            width: 100%;
            height: calc(100vh + $video-section-overlay-height);
            z-index: 1;
            top: 0;
            left: 0;

            .video-section {
              position: fixed;
              width: 100%;
              height: 100vh;
              overflow: hidden;
              z-index: 1; // Devant la section 1

              .video-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                backface-visibility: hidden;
                transform: translateZ(0);
                will-change: transform;
              }
            }
            @media screen and (max-width: $mobile-breakpoint) {
              height: calc(100vh + $video-section-overlay-height-mobile);
            }
          }

          .activities-section {
            $card-spacing: $margin-l;
            $card-spacing: 3.5em;

            position: relative;
            width: 100%;
            height: calc(100vh - $header-height);
            z-index: 10;
            top: calc($header-height);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding-left: $margin-xl;
            padding-right: $margin-xl;

            @media screen and (max-width: $mobile-breakpoint) {
              width: 92%;
              padding-left: 0;
              padding-right: 0;
            }

            .title-container {
              @media screen and (max-width: $mobile-breakpoint) {
                margin-top: calc($margin-xl * 2);
                margin-bottom: calc($margin-xl * 2);
              }

              .main-title {
                font-size: $title2-font-size;
                color: $color3;
                font-family: $home-font;
                font-weight: 400;
                text-align: center;
                text-shadow: $text-shadow-basic;

                &.main-content {
                  font-size: calc($title1-font-size * 1.4);
                }
              }
            }

            .activities-container {
              width: auto;
              background: rgba($color3, 0.8);
              padding: $margin-l $card-spacing;
              box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
              border-radius: $card-radius;
              background: $color-cards-bg;
              @include flex-box(0);

              @media screen and (max-width: $mobile-breakpoint) {
                width: 100%;
                padding: $margin-m $margin-m;
              }

              .activities-title {
                font-size: $title3-font-size;
                color: $color3;
                font-family: $text-font;
                text-transform: uppercase;
                margin-bottom: $margin-m;
                align-self: start;
                padding-inline-start: $margin-m;
              }

              .cards-grid {
                $card-width: 180px;
                $card-height: 280px;
                $card-mobile-height: 80px;
                $cards-shadow: 4px 6px 12px rgba($color4, 0.2);
                $transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                $scale-hover: 1.02;
                $picto-size: 2.8em;

                max-width: 1400px;
                display: grid;
                grid-template-columns: repeat(
                  auto-fit,
                  minmax($card-width, 1fr)
                );
                gap: $card-spacing;

                @media screen and (max-width: $mobile-breakpoint) {
                  max-width: 100%;
                  width: 100%;
                  gap: $margin-m;
                }

                .activity-card {
                  position: relative;
                  display: block;
                  height: $card-height;
                  border-radius: $card-radius;
                  overflow: hidden;
                  box-shadow: $cards-shadow;
                  transition: $transition;
                  cursor: pointer;
                  text-decoration: none;
                  color: inherit;

                  @media screen and (max-width: $mobile-breakpoint) {
                    height: $card-mobile-height;
                    width: 100%;
                    object-fit: cover;
                    @include flex-row();
                  }

                  &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

                    .activity-card__bg {
                      transform: scale(1.05);

                      &::before {
                        background: rgba(0, 0, 0, 0.2);
                        backdrop-filter: none;
                      }
                    }

                    .activity-card__content {
                      transform: translateY(-20px);
                    }

                    .activity-card__icon {
                      transform: scale(1.2);
                    }

                    .activity-card__btn {
                      opacity: 1;
                      transform: translate(-50%, 0);

                      &::before {
                        transform: translateX(4px);
                      }
                    }
                  }
                }

                .activity-card__bg {
                  position: absolute;
                  inset: 0;
                  background-image: var(--bg-image);
                  background-size: cover;
                  background-position: center;
                  z-index: 1;
                  transition: transform 0.4s ease;
                  // filter: grayscale(60%) brightness(0.8);

                  &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: rgba(0, 0, 0, 0.3);
                    z-index: 2;
                    transition: background 0.4s ease;
                    backdrop-filter: grayscale(20%) brightness(0.9);

                    @media screen and (max-width: $mobile-breakpoint) {
                    }
                  }
                }

                .activity-card__content {
                  position: relative;
                  z-index: 3;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  height: 100%;
                  padding: $margin-m $margin-m $margin-l;
                  text-align: center;
                  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                  padding-top: $margin-xl;

                  @media screen and (max-width: $mobile-breakpoint) {
                    width: 100%;
                    padding-top: $margin-m;
                    padding-bottom: $margin-m;
                    flex-direction: row;
                    gap: 0;
                    text-align: left;
                  }
                }

                .activity-card__icon {
                  flex-shrink: 0;
                  margin-bottom: $margin-l;
                  width: $picto-size;
                  height: $picto-size;
                  mask: url('/img/icons/activity-picto.svg') no-repeat center /
                    contain;
                  background-color: $color2;
                  text-shadow: $text-shadow-basic;
                  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

                  @media screen and (max-width: $mobile-breakpoint) {
                    margin-bottom: 0;
                    width: 30%;
                    max-width: 45px;
                    height: auto;
                    aspect-ratio: 1;
                    margin-right: $margin-l;
                  }
                }

                .activity-card__title {
                  font-size: $title3-font-size;
                  font-family: $title-font;
                  color: $color3;
                  text-shadow: $text-shadow-basic;
                  margin: 0;
                  letter-spacing: 2px;
                  line-height: 1.3;
                  @media screen and (max-width: $mobile-breakpoint) {
                    flex: 1;
                    text-align: left;
                  }
                }

                .activity-card__btn {
                  position: absolute;
                  bottom: $margin-m;
                  left: 50%;
                  transform: translate(-50%, 200%);
                  padding: $margin-xs $margin-s;
                  background: linear-gradient(
                    135deg,
                    $color2,
                    darken($color2, 12%)
                  );
                  color: $color3;
                  border-radius: $basic-radius;
                  letter-spacing: 1px;
                  opacity: 0;
                  transition: $transition;
                  z-index: 4;
                  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
                  font-family: $text-font;
                  @include flex-box($margin-xs);

                  &::before {
                    content: 'En savoir +';
                    font-size: calc($text-font-size * 0.5);
                    transition: transform 0.3s ease;
                  }
                }
              }
            }
          }

          .video-section-overlay {
            height: $video-section-overlay-height;
            width: 100%;
            position: relative;

            @media screen and (max-width: $mobile-breakpoint) {
              height: $video-section-overlay-height-mobile;
            }

            .video-icon {
              width: 3em;
              height: auto;
              position: absolute;
              bottom: calc($margin-l * -1.5);
              right: $margin-m;
              z-index: 5;

              @media screen and (max-width: $mobile-breakpoint) {
                width: 2em;
                bottom: calc($margin-l * -0.5);
              }
            }
          }

          .third-section {
            position: relative;
            $section-shape: polygon(0 0vh, 100% 10vh, 100% 100%, 0 100%);
            $section-shape-mobile: polygon(0 0vh, 100% 5vh, 100% 100%, 0 100%);
            clip-path: $section-shape;
            z-index: 2;
            height: 90vh;
            width: 100%;
            background-color: $color1;
            @include flex-box(0);

            @media screen and (max-width: $mobile-breakpoint) {
              clip-path: $section-shape-mobile;
              height: auto; // Laisse le contenu définir la hauteur
              min-height: 70vh;
            }

            &::before {
              content: '';
              position: absolute;
              top: -1px;
              left: 0;
              width: 100%;
              height: 6px; // épaisseur de la ligne
              background-color: $color2; // couleur de ta border
              transform-origin: left top;
              transform: skewY(2.8deg); // angle inverse du clip-path

              @media screen and (max-width: $mobile-breakpoint) {
                transform: skewY(4.95deg); // Angle ajusté pour mobile
              }
            }

            .groups-wrapper {
              max-width: 70%;
              @include flex-row($margin-xl);

              @media screen and (max-width: $mobile-breakpoint) {
                max-width: 100%;
                flex-direction: column-reverse;
                gap: $margin-l;
                padding-top: $margin-xl;
              }

              .img-wrapper {
                @media screen and (max-width: $mobile-breakpoint) {
                  $section-shape: polygon(0 5vh, 100% 0vh, 100% 100%, 0 100%);
                  clip-path: $section-shape;
                  position: relative;

                  &::before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 100%;
                    height: 6px; // épaisseur de la ligne
                    background-color: $color2; // couleur de ta border
                    transform-origin: right top;
                    // z-index: 90;
                    transform: skewY(-4.8deg); // angle inverse du clip-path
                  }
                }
                img {
                  width: 28vw;
                  object-fit: contain;
                  height: auto;
                  @media screen and (max-width: $mobile-breakpoint) {
                    width: 100%;
                    align-self: flex-end;
                  }
                }
                @media screen and (max-width: $mobile-breakpoint) {
                  @include flex-box();
                  height: auto;
                }
              }

              .text-wrapper {
                h3 {
                  font-size: $title3-font-size;
                  font-family: $title-font;
                  color: $color2;
                  text-shadow: $light-shadow;
                }

                h2 {
                  font-size: $title2-font-size;
                  font-size: calc($title2-font-size * 1.4);
                  font-family: $home-font;
                  color: $color3;
                  margin-top: $margin-xs;
                  margin-bottom: $margin-m;
                  text-shadow: $light-shadow;
                }

                p {
                  color: $color3;
                  text-align: justify;
                  padding: 0 $margin-m;
                }

                .info-btn {
                  @include my-btn();
                  @media screen and (max-width: $mobile-breakpoint) {
                    margin-top: $margin-l;
                  }
                }

                @media screen and (max-width: $mobile-breakpoint) {
                  max-width: 92%;
                  height: auto;
                  text-align: center;
                }
              }
            }

            @media screen and (max-width: $mobile-breakpoint) {
              height: auto;
            }
          }

          .section4 {
            width: 100%;
            height: 35vh;
            background-color: $color3;
            color: $color1;
            z-index: 12;
            border-top: $border-section-separation;
            padding: $margin-m;
            @include flex-box(0);

            p {
              color: $color1;
            }
          }

          .section5 {
            width: 100%;
            height: 15vh;
            background-color: $color1;
            color: $color3;
            z-index: 12;
            border-top: $border-section-separation;
            padding: $margin-m;
            @include flex-box(0);

            p {
              color: $color3;
            }
          }
        }
      }
    }

    .mention-wrapper {
      padding: $margin-m;

      h3 {
        font-size: $title3-font-size;
        font-family: $title-font;
        color: $color2;
      }

      .mention-container {
        display: flex;
        flex-direction: column;
        gap: $margin-m;
        max-width: 1400px;
      }
    }
  }
  .page-not-found-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $margin-l;
    font-family: $title-font;

    h2 {
      font-size: clamp(1.3rem, 0.229rem + 2.857vw, 2.8rem);
    }

    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      align-items: center;
      gap: $margin-s;
      p {
        font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
        color: $color2;
      }

      img {
        max-height: clamp(5rem, 1.875rem + 8.333vw, 9.375rem);
        width: fit-content;
      }
    }
  }
}
