@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

$video-section-overlay-height: 85vh;
$video-section-overlay-height-mobile: 80vh;

// DEBUG TRIX
// * {
//   outline: 1px solid red !important;
// }

// * {
//   max-width: 100vw !important;
//   box-sizing: border-box !important;
// }

html {
  background-color: transparent;
  color: $color2;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;

  body {
    width: 100%;
    min-height: 100vh;
    color: $color2;
    background-color: $color1;
    background-image: $bg-texture-url;

    position: relative;

    #main-container {
      min-height: calc(100vh - $footer-height - $header-height);

      .content-container {
        @include flex-box(0);
        justify-content: flex-start;
        min-height: calc(100vh - $footer-height);
        padding-top: $header-height;

        @media screen and (max-width: $mobile-breakpoint) {
          padding-top: $mobile-header-height;
        }

        &#home-container {
          height: auto;
          padding-top: 0;

          .video-wrapper {
            position: absolute;
            width: 100%;
            height: calc(100vh + $video-section-overlay-height);
            z-index: 1;
            top: 0;
            left: 0;
            overflow-y: auto;

            .video-section {
              position: fixed;
              width: 100%;
              max-width: 100%;
              height: 100vh;
              overflow: hidden;
              z-index: 1;
            }
            @media screen and (max-width: $mobile-breakpoint) {
              height: calc(100vh + $video-section-overlay-height-mobile);
            }
          }

          .section1 {
            position: relative;
            width: 100%;
            min-height: calc(90vh - $header-height);
            height: auto;
            z-index: 10;
            top: calc($header-height);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding-left: $margin-l;
            padding-right: $margin-l;
            padding-bottom: $margin-xl;

            @media screen and (max-width: $mobile-breakpoint) {
              width: 92%;
              height: auto;
              padding-left: 0;
              padding-right: 0;
              padding-bottom: calc($margin-xl * 1.5);
            }

            .title-container {
              position: relative;
              margin-top: $margin-xl;
              margin-bottom: $margin-xl;
              @media screen and (max-width: $mobile-breakpoint) {
                margin-top: calc($margin-xl * 1.4);
                margin-bottom: calc($margin-xl * 1.4);
              }

              .main-title {
                font-size: $title2-font-size;
                color: $color3;
                font-family: $home-font;
                font-weight: 400;
                text-align: center;
                text-shadow: $text-shadow-basic;

                &.main-content {
                  font-size: calc($title1-font-size * 1.2);
                }
              }

              .rail-wrapper {
                $rail1-length: 1207.43;
                $rail2-length: 1181.34;
                $sleepers-dash: 8 12;
                $animation-duration: 2s;
                $animation-duration-mobile: 3.5s;
                $animation-rail-delay: 0.8s;
                $animation-sleepers-delay: calc($animation-rail-delay * 1.02);

                position: absolute;
                width: 62%;
                left: 20%;
                top: 110%;
                pointer-events: none;
                z-index: 1; // Derrière le contenu

                @media screen and (max-width: $mobile-breakpoint) {
                  display: none;
                }

                .rail-svg {
                  width: 100%;
                  height: 100%;
                  display: block;
                  color: $color2;

                  .rail-path,
                  .rail-sleepers {
                    fill: none;
                    stroke: $color2;
                  }

                  .rail-path {
                    animation: drawRailWeb $animation-duration ease-out forwards;
                    animation-delay: $animation-rail-delay !important;

                    @media screen and (max-width: $mobile-breakpoint) {
                      animation: drawRail $animation-duration-mobile ease-out
                        forwards;
                    }

                    &:nth-of-type(1) {
                      stroke-dasharray: $rail1-length;
                      stroke-dashoffset: $rail1-length;
                    }

                    &:nth-of-type(2) {
                      stroke-dasharray: $rail2-length;
                      stroke-dashoffset: $rail2-length;
                    }
                  }

                  .rail-sleepers {
                    stroke-dasharray: $sleepers-dash;
                  }

                  .reveal-mask-path {
                    stroke-dasharray: $rail1-length;
                    stroke-dashoffset: $rail1-length;
                    animation: drawRailWeb $animation-duration ease-out forwards;
                    animation-delay: $animation-sleepers-delay !important;

                    @media screen and (max-width: $mobile-breakpoint) {
                      animation: drawRail $animation-duration-mobile ease-out
                        forwards;
                    }
                  }

                  @keyframes drawRail {
                    to {
                      stroke-dashoffset: 0;
                    }
                  }

                  @keyframes drawRailWeb {
                    to {
                      stroke-dashoffset: calc($rail1-length * 0);
                    }
                  }
                }
              }
            }
          }

          .video-section-overlay {
            height: $video-section-overlay-height;
            width: 100%;
            position: relative;

            @media screen and (max-width: $mobile-breakpoint) {
              height: $video-section-overlay-height-mobile;
            }

            .video-icon {
              width: 3em;
              height: 3em;
              position: absolute;
              top: calc($margin-m);
              right: $margin-m;
              z-index: 5;
              cursor: pointer;
              fill: $color3;

              @media screen and (max-width: $mobile-breakpoint-s) {
                width: 2em;
                bottom: calc($margin-l * -0.5);
              }
            }
          }

          .section2 {
            @include slanted-border();
            z-index: 15;
            width: 100%;
            max-width: 100%;
            overflow-x: hidden;
            background-color: $color1;
            @include flex-box(0);
            padding-top: calc($margin-xl);
            padding-bottom: calc($margin-l);

            background-image: $bg-texture-url;

            @media screen and (max-width: $mobile-breakpoint) {
              height: auto;
              min-height: 70vh;
            }

            .section-wrapper {
              width: 69%;
              min-width: 58rem;
              max-width: 100%;
              @include flex-box($margin-m);
              flex-direction: column;

              @media screen and (max-width: 1700px) {
                width: 76%;
              }

              @media screen and (max-width: $mobile-breakpoint) {
                width: 88%;
                gap: $margin-m;
                min-width: 285px;
                padding-top: $margin-s;
              }

              .header-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: $margin-s;

                h3 {
                  @include content-h3();
                  font-weight: normal;
                  font-size: calc($title2-font-size * 0.8);
                  font-family: $home-font;
                  color: $color3;
                  text-shadow: $light-shadow;
                }

                .main-hr {
                  @include custom-hr($color3);
                  width: 8rem;
                  margin-left: $margin-s;
                }

                @media screen and (max-width: $mobile-breakpoint) {
                  align-items: center;
                }
              }

              .content-wrapper {
                @include flex-box($margin-l);
                width: 100%;
                padding-top: $margin-s;

                .cards-row {
                  @include flex-row($margin-s);
                  width: 100%;
                  align-items: stretch;

                  .info-card {
                    @include flex-box($margin-s);
                    height: auto;
                    // background: $color-bg-stronger;
                    background: $color3;
                    padding: $margin-l $margin-m;
                    border-radius: $card-radius;
                    box-shadow: $cards-shadow;
                    color: $color1;
                    flex: 1;
                    text-decoration: none;

                    @media screen and (max-width: 1700px) {
                      padding: $margin-m $margin-m;
                    }

                    @media screen and (min-width: $mobile-breakpoint-s) {
                      $strong-radius: 25px;
                      $light-radius: $card-radius;

                      &:nth-child(1) {
                        border-radius: $strong-radius $light-radius 0 0;
                      }

                      &:nth-child(2) {
                        border-radius: $light-radius $light-radius 0 0;
                      }

                      &:nth-child(3) {
                        border-radius: $light-radius $strong-radius 0 0;
                      }
                    }

                    .card-title {
                      font-family: $title-font;
                      font-size: calc($title4-font-size * 1.5);
                      text-align: center;
                      text-shadow: $light-shadow;
                    }

                    .info-icon {
                      width: calc($picto-size);
                      height: calc($picto-size);
                      fill: $color2;

                      &.resto-icon {
                        margin-bottom: -0.45rem; // Ajustement beacause
                      }
                    }

                    .card-link {
                      @include inline-link();
                      @include flex-row($margin-s);
                      align-items: center;
                    }

                    .infos-wrapper {
                      @include flex-box($margin-xs);
                      padding-right: $margin-m;
                      align-items: flex-start;
                    }

                    &.address-info-card {
                      address {
                        color: $color1;
                        font-style: normal;
                        text-align: center;

                        p {
                          margin: 0;
                          font-size: $subtext-font-size;
                          text-shadow: $light-shadow;

                          &.main-label {
                            text-transform: uppercase;
                            font-size: $text-font-size;
                            font-family: $title-font;
                          }
                        }
                      }

                      .card-link {
                        gap: 0;
                        margin-right: $margin-s;
                      }
                    }

                    // Bordure bottom animée
                    &::after {
                      content: '';
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 3px;
                      background: $color2;
                      transform: scaleX(0);
                      transform-origin: left;
                      transition: transform 0.4s ease;
                    }

                    &:hover {
                      transform: translateY(-3px);
                      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);

                      &::after {
                        transform: scale(1);
                      }

                      .unic-link {
                        text-decoration: underline;
                      }
                    }
                  }

                  @media screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-breakpoint-s) {
                    // flex-direction: column;
                    flex-wrap: wrap;
                    gap: $margin-m;
                    .info-card {
                      min-width: 40%;
                      &:nth-child(2) {
                        order: 2;

                        .infos-wrapper {
                          flex-direction: row;
                          align-items: center;
                          gap: $margin-l;

                          .card-link {
                            gap: $margin-xs;
                          }
                        }
                      }
                    }
                  }

                  @media screen and (max-width: $mobile-breakpoint-s) {
                    flex-direction: column;
                    gap: $margin-m;
                    .info-card {
                      align-self: center;
                      width: 100%;
                    }
                  }
                }

                .contact-wrapper {
                  @include flex-box($margin-m);
                  max-width: 100%;

                  .p-wrapper {
                    @include flex-box($margin-xs);

                    .contact-text {
                      @include basic-text-page();
                      text-shadow: $basic-shadow;
                    }
                  }

                  .info-btn {
                    @include custom-btn();
                  }
                }
              }
            }

            @media screen and (max-width: $mobile-breakpoint) {
              height: auto;
            }
          }

          .section3 {
            // TOTEST
            $bg-color-3: $color-bg-stronger;
            $text-color-3: $color1;
            width: 100%;
            background-color: $color1;
            background-color: $color3;
            background: $bg-color-3;
            z-index: 12;
            border-top: $border-section-separation;
            border-bottom: $border-section-separation;
            padding: $margin-m;
            margin-top: -1px;
            @include flex-box(0);

            .counter-wrapper {
              @include flex-row(0);
              width: 60%;
              padding: $margin-s $margin-s;
              min-width: calc(($mobile-breakpoint-s) - ($margin-s * 2));
              align-items: start;

              .counter-info {
                display: grid;
                grid-template-rows: auto auto;
                gap: $margin-s;
                flex: 1;
                min-width: 0;

                .counter-number {
                  font-size: calc($title1-font-size * 0.8);
                  font-family: $home-font;
                  color: $text-color-3;
                  text-align: center;
                  text-shadow: $light-shadow;
                }

                .counter-label {
                  font-size: $title3-font-size;
                  font-family: $title-font;
                  color: $color2;
                  text-align: center;
                }
              }

              @media screen and (max-width: $mobile-breakpoint-s) {
                flex-wrap: wrap;
                justify-content: center;
                gap: $margin-l;
                max-width: 100%;
                min-width: 0;
                width: 100%;

                .counter-info {
                  flex: 1 1 calc(50% - #{$margin-l}); // 2 éléments par ligne (50% - gap)

                  &:first-child {
                    order: -1;
                    flex-basis: 100%;
                  }

                  &:nth-child(2) {
                    order: 0;
                  }

                  &:nth-child(3) {
                    order: 0;
                  }
                }
              }
            }
          }

          .section4 {
            width: 100%;
            max-width: 100%;
            height: 20rem;
            background-color: $color3;
            color: $color2-strong;
            z-index: 12;
            border-top: $border-section-separation;
            @include flex-box();
            padding: $margin-m $margin-s;
            content-visibility: auto;
            contain-intrinsic-size: auto 20rem;
          }

          .section5 {
            width: 100%;
            height: auto;
            background-color: $color1;
            background-image: $bg-texture-url;
            color: $color3;
            z-index: 12;
            border-top: $border-section-separation;
            padding: $margin-xl $margin-m;
            @include flex-box(0);
            content-visibility: auto;

            .content-wrapper {
              max-width: 70%;
              @include flex-row($margin-xl);

              @media screen and (max-width: $mobile-breakpoint) {
                max-width: 100%;
                flex-direction: column-reverse;
                gap: $margin-l;
              }

              .img-wrapper {
                @media screen and (max-width: $mobile-breakpoint) {
                  @include slanted-border('left');
                }

                img {
                  width: 32vw;
                  object-fit: contain;
                  height: auto;
                  border-radius: $card-radius;
                  box-shadow: $basic-shadow;
                  @media screen and (max-width: $mobile-breakpoint) {
                    width: 100%;
                    align-self: flex-end;
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                  }
                }
                @media screen and (max-width: $mobile-breakpoint) {
                  @include flex-box();
                  height: auto;
                }
              }

              .text-wrapper {
                @include basic-text-wrapper();
                .info-btn {
                  margin-top: $margin-m;
                  @media screen and (max-width: $mobile-breakpoint) {
                    margin-top: $margin-l;
                  }
                }
              }
            }

            @media screen and (max-width: $mobile-breakpoint) {
              height: auto;
              padding-left: 0;
              padding-right: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}
