@use './variables' as *;

@mixin flex-box($gap: $margin-xs) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
  flex-direction: column;
}

@mixin flex-row($gap: $margin-xs) {
  @include flex-box($gap);
  flex-direction: row;
}

@mixin custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  padding: 12px 16px;
  border-radius: $basic-radius;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: $basic-shadow;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  border: 2px solid $color2;
  color: inherit;

  &:hover {
    box-shadow: $strong-shadow;
  }
}

@mixin my-btn {
  width: 30%;
  margin: auto;
  margin-top: $margin-m;
  padding: $margin-xs $margin-s;
  background: linear-gradient(135deg, $color2, darken($color2, 12%));
  color: $color3;
  border-radius: $basic-radius;
  letter-spacing: 1px;
  z-index: 4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: $text-font;
  @include flex-box($margin-xs);

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: 'En savoir +';
    font-size: calc($text-font-size * 0.5);
    transition: transform 0.3s ease;
  }
}
