@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

html body #main-container {
  .content-container {
    justify-content: center;
    &.activities-page {
      $page-spacing: $margin-l;

      height: auto;
      gap: $page-spacing;
      padding: calc($margin-l + $header-height) 0 calc($margin-m * 2) 0;

      @media screen and (max-width: $mobile-breakpoint-s) {
        padding-top: calc($margin-l + $header-height);
      }

      h1 {
        @include page-h1();
      }

      .content-wrapper {
        @include flex-row($margin-s);
        flex-wrap: wrap;
        $size: calc($picto-size * 0.85);
        padding: $margin-xs $margin-m;

        .info-wrapper {
          display: grid;
          grid-template-columns: $size 1fr;
          gap: 0.15rem;
          align-items: center;

          .info-icon {
            width: $size;
            height: auto;
            fill: $color3;
            aspect-ratio: 1;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          p {
            @include basic-text-page();
            text-align: start;
          }
        }

        .separator {
          width: 1rem;
          height: 2px;
          background-color: transparent;
        }

        @media screen and (max-width: $mobile-breakpoint-s) {
          flex-direction: column;
          align-items: start;
          gap: $margin-m;

          .info-wrapper {
            gap: $margin-m;
            flex: 0 0 auto;
            width: 100%;
          }

          .separator {
            display: none;
          }
        }
      }

      .contact-wrapper {
        @include flex-box($margin-m);

        .p-wrapper {
          p {
            @include basic-text-page();
          }
        }

        .info-btn {
          @include custom-btn();
        }
      }

      @media screen and (max-width: $mobile-breakpoint) {
        padding-bottom: $page-spacing;
        .p-wrapper {
          max-width: 92%;
          padding: 0 $margin-s;
        }

        h2 {
          margin-bottom: $margin-m;
        }
      }
    }

    // --- Image du bas ---
    .page-bottom-image {
      width: 100%;
      height: $frise-height;
      overflow: hidden;
      border-top: $border-section-separation;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center 38%;
      }
      @media screen and (max-width: $mobile-breakpoint) {
        min-height: 100px;
        height: 280px;
      }

      @media screen and (max-width: $mobile-breakpoint-s) {
        min-height: 100px;
        height: 190px;
      }
    }
  }
}

.page-not-found-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $margin-l;
  font-family: $title-font;

  h2 {
    font-size: clamp(1.3rem, 0.229rem + 2.857vw, 2.8rem);
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    gap: $margin-s;
    p {
      font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
      color: $color2;
    }

    img {
      max-height: clamp(5rem, 1.875rem + 8.333vw, 9.375rem);
      width: fit-content;
    }
  }
}

.full-wrapper {
  @include flex-box(0);
  justify-content: center;
  @include full-page-wrapper();

  &.full-height {
    padding-top: $margin-l;
    padding-bottom: $margin-l;
    min-height: 100%;
  }

  .full-content {
    @include full-page-content-container();

    .full-text-section-wrapper {
      @include full-page-text-wrapper();
    }

    &.reglements-container {
      h3 {
        margin-bottom: $margin-xs;
      }

      .p-wrapper {
        gap: $margin-m;

        .strong-span {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
