@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

html body #main-container {
  .content-container {
    &.activities-page {
      $page-spacing: $margin-l;

      height: auto;
      justify-content: center;
      gap: $page-spacing;
      padding: calc($page-spacing + $header-height) 0 calc($page-spacing * 2) 0;

      h1 {
        @include page-h1();
      }

      .p-wrapper {
        @include flex-box($margin-s);
        p {
          @include basic-text-page();
        }
      }
      @media screen and (max-width: $mobile-breakpoint) {
        padding-bottom: $page-spacing;
        .p-wrapper {
          max-width: 92%;
          padding: 0 $margin-s;
        }

        h2 {
            margin-bottom: $margin-m;
        }
      }
    }
  }
}

.mention-wrapper {
  padding: $margin-m;

  h3 {
    font-size: $title3-font-size;
    font-family: $title-font;
    color: $color2;
    font-weight: normal;
  }

  .mention-container {
    display: flex;
    flex-direction: column;
    gap: $margin-m;
    max-width: 1400px;
  }
}
.page-not-found-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $margin-l;
  font-family: $title-font;

  h2 {
    font-size: clamp(1.3rem, 0.229rem + 2.857vw, 2.8rem);
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    gap: $margin-s;
    p {
      font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
      color: $color2;
    }

    img {
      max-height: clamp(5rem, 1.875rem + 8.333vw, 9.375rem);
      width: fit-content;
    }
  }
}
