@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

html body #main-container {
  .content-container {
    &.activities-page {
      $page-spacing: $margin-l;

      height: auto;
      justify-content: center;
      gap: $page-spacing;
      padding: calc($margin-s + $header-height) 0 calc($margin-m * 2) 0;

      @media screen and (max-width: $mobile-breakpoint-s) {
        padding-top: calc($margin-l + $header-height);
      }

      h1 {
        @include page-h1();
      }

      .content-wrapper {
        @include flex-row($margin-s);
        flex-wrap: wrap;
        $size: calc($picto-size * 0.85);
        padding: $margin-xs $margin-m;

        .info-wrapper {
          display: grid;
          grid-template-columns: $size 1fr;
          gap: 0.15rem;
          align-items: center;

          .info-icon {
            width: $size;
            height: auto;
            fill: $color3;
            aspect-ratio: 1;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          p {
            @include basic-text-page();
            text-align: start;
          }
        }

        .separator {
          width: 1rem;
          height: 2px;
          background-color: transparent;
        }

        @media screen and (max-width: $mobile-breakpoint-s) {
          flex-direction: column;
          align-items: start;
          gap: $margin-m;

          .info-wrapper {
            gap: $margin-m;
            flex: 0 0 auto;
            width: 100%;
          }

          .separator {
            display: none;
          }
        }
      }

      .contact-wrapper {
        @include flex-box($margin-m);

        .p-wrapper {
          p {
            @include basic-text-page();
          }
        }
        
        .info-btn {
          @include custom-btn();
        }
      }

      @media screen and (max-width: $mobile-breakpoint) {
        padding-bottom: $page-spacing;
        .p-wrapper {
          max-width: 92%;
          padding: 0 $margin-s;
        }

        h2 {
          margin-bottom: $margin-m;
        }
      }
    }
  }
}

.mention-wrapper {
  padding: $margin-m;

  h3 {
    font-size: $title3-font-size;
    font-family: $title-font;
    color: $color2;
    font-weight: normal;
  }

  .mention-container {
    display: flex;
    flex-direction: column;
    gap: $margin-m;
    max-width: 1400px;
  }
}
.page-not-found-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $margin-l;
  font-family: $title-font;

  h2 {
    font-size: clamp(1.3rem, 0.229rem + 2.857vw, 2.8rem);
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    gap: $margin-s;
    p {
      font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
      color: $color2;
    }

    img {
      max-height: clamp(5rem, 1.875rem + 8.333vw, 9.375rem);
      width: fit-content;
    }
  }
}
