@use './variables' as *;
@use './base';
@use './mixin' as *;
@use './animations' as *;

.rail-wrapper {
  // Commons
  $sleepers-dash: 35 78;
  $rail-item-width: 12;
  $sleepers-width: 135;
  $rail-color: $color2-strong;
  $rail-color: rgba($color1, 0.85);

  // Config de positionnement
  $rail-width: 100%;
  $rail-width-ratio: 1.4;
  $rail-left: -10%;
  $rail-top: 20%;
  $tablet-rail-width: 205%;
  $tablet-rail-right: -1%;
  $tablet-rail-top: 26%;

  // Config des paths
  $rail1-length: 8978.73;
  $rail2-length: 9067.2;

  // Config animation
  $animation-duration: 2.5s;
  $animation-rail-delay: 0.8s;
  $animation-sleepers-delay: calc($animation-rail-delay * 1.02);
  $rail2-duration: calc($animation-duration * ($rail2-length / $rail1-length));

  // Video config - Positionnement
  $video-rail-width: 16%;
  $video-rail-right: 3%;
  $video-rail-top: -63%;
  // TABLET
  $middle-video-rail-height: 142%;
  $tablet-video-rail-height: 160%;
  $tablet-video-rail-top: -53%;

  // Video config - Dimensions visuelles - IDEM QUE DESSUS
  $video-sleepers-dash: 35 78;
  $video-rail-item-width: 12;
  $video-sleepers-width: 135;

  // Video config - Paths
  $video-rail1-length: 5345.5;
  $video-rail2-length: 5358.53;

  // Video config - Animation
  $video-animation-duration: 1.8s;
  $video-rail2-duration: calc(
    $video-animation-duration * ($video-rail2-length / $video-rail1-length)
  );

  position: absolute;
  width: $rail-width;
  left: $rail-left;
  top: $rail-top;
  pointer-events: none;
  z-index: 1;

  @media screen and (max-width: 1400px) {
    &.home-rail-wrapper {
      width: calc($rail-width * $rail-width-ratio);
      left: auto;
      right: 1.5%;
      top: $tablet-rail-top;
    }
  }

    @media screen and (max-width: $mobile-breakpoint) {
    &.home-rail-wrapper {
      width : $tablet-rail-width;
      right: $tablet-rail-right;
      left: auto;
    }
  }

  @media screen and (max-width: $mobile-breakpoint-s) {
    &.home-rail-wrapper {
      display: none;
    }
  }

  .rail-svg {
    width: 100%;
    height: 100%;
    display: block;
    color: $rail-color;

    .rail-path,
    .rail-sleepers {
      fill: none;
      stroke: $rail-color;
    }

    .rail-path {
      stroke-width: $rail-item-width;
      animation: drawRail $animation-duration ease-out forwards;
      animation-delay: $animation-rail-delay;

      &:nth-of-type(1) {
        stroke-dasharray: $rail1-length;
        stroke-dashoffset: $rail1-length;
      }

      &:nth-of-type(2) {
        stroke-dasharray: $rail2-length;
        stroke-dashoffset: $rail2-length;
        animation-duration: $rail2-duration;
      }
    }

    .rail-sleepers {
      stroke-dasharray: $sleepers-dash;
    }

    .rail-sleepers,
    .reveal-mask-path {
      stroke-width: $sleepers-width;
    }

    .reveal-mask-path {
      stroke-dasharray: $rail1-length;
      stroke-dashoffset: $rail1-length;
      animation: drawRail $animation-duration ease-out forwards;
      animation-delay: $animation-sleepers-delay;
    }

    @keyframes drawRail {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  &.video-rail-wrapper {
    width: $video-rail-width;
    height: auto;
    left: auto;
    right: $video-rail-right;
    top: $video-rail-top;
    bottom: auto;

    .rail-svg {
      .rail-path {
        stroke-width: $video-rail-item-width;
        animation-duration: $video-animation-duration;

        &:nth-of-type(1) {
          stroke-dasharray: $video-rail1-length;
          stroke-dashoffset: $video-rail1-length;
        }

        &:nth-of-type(2) {
          stroke-dasharray: $video-rail2-length;
          stroke-dashoffset: $video-rail2-length;
          animation-duration: $video-rail2-duration;
        }
      }

      .rail-sleepers {
        stroke-dasharray: $video-sleepers-dash;
        stroke-dashoffset: $video-rail1-length;
      }

      .rail-sleepers,
      .reveal-mask-path {
        stroke-width: $video-sleepers-width;
      }

      .reveal-mask-path {
        stroke-dasharray: $video-rail1-length;
        stroke-dashoffset: $video-rail1-length;
        animation-duration: $video-animation-duration;
      }
    }

    @media screen and (max-width: 1400px) {
      width: calc($video-rail-width * $rail-width-ratio)

    }

    @media screen and (max-width: $mobile-breakpoint) {
      height: $tablet-video-rail-height;
      width: auto;
      top: $tablet-video-rail-top;
      
    }
    @media screen and (max-width: $mobile-breakpoint-s) {
      height: $middle-video-rail-height;
      bottom: -3.5%;
      top: auto;
    }
  }
}
