---
import MainLayout from '../../layouts/MainLayout.astro';
import HighlightOnHash from '../../components/Highlight';
---

<MainLayout title="Groupes - Safari Rail Aventure">
  <div id="page-groupes-container" class="content-container groupes-page">
    <h2>Centres</h2>
    <div class="groupes-container">
      <p>Un groupe = + de 20 personnes</p>
    </div>
  </div>
</MainLayout>
<HighlightOnHash client:load />
