---
import ActivityLayout from '../../layouts/ActivityLayout.astro';

import { getActivityContent, getActivityFAQ } from '../../data/activities';

const activityData = getActivityContent('filets');
const faqData = getActivityFAQ('filets');

---

<ActivityLayout {...activityData} faq={faqData}>
  <section slot="secondary-slot" class="activity-map">
    <h2>Contenu Bonus par activité ici</h2>
    <h2>Arrivée du parc de filets SOUS PEU !!</h2>
  </section>
</ActivityLayout>
