---
import ActivityLayout from '../../layouts/ActivityLayout.astro';

import { getActivityContent, getActivityFAQ } from '../../data/activities';

const activityData = getActivityContent('randorail')
const faqData = getActivityFAQ('randorail');

---

<ActivityLayout {...activityData} faq={faqData}>
  <section slot="secondary-slot" class="activity-map">
    <h2>SI Besoin de contenu spécifique par activité cest possible !</h2>
  </section>
</ActivityLayout>
