---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page inexistante">
  <div class="page-not-found-wrapper">
    <h2>La page demandée n'existe pas.</h2>
    <a class="logo-link" href="/">
      <img id="logo-home" src="/img/static/logo3.webp" alt="Logo" />
      <p>Retour sur le site</p>
    </a>
  </div>
</BaseLayout>
