---
import Welcome from "../components/Welcome.astro";
import MainLayout from "../layouts/MainLayout.astro";
import content from "../data/content.json";
---

<MainLayout title={content.pages.about.docTitle}>
    <div id="about-container" class="content-container">
        <h2 id="about-title">{content.pages.about.title}</h2>
        <p id="about-text">{content.pages.about.mainText}</p>
    </div>
</MainLayout>
