---
import MainLayout from '../layouts/MainLayout.astro';
import HighlightOnHash from '../components/Highlight';
import CardsGrid from '../components/CardsGrid.astro';
---

<MainLayout title="Nos Activites - Safari Rail Aventure">
  <div id="page-activites-container" class="content-container activities-page">
    <h2>Explorez nos Activités !</h2>
    <div class="p-wrapper">
        <p>Tarifs, Horaires, Informations pratiques, FAQ, vous trouverez tous les renseigements concernant nos activités.</p>
        <p>Réservez en ligne pour assurer le bon déroulement de votre journée !</p>
    </div>
    <div class="activities-container">
      <CardsGrid />
    </div>
  </div>
</MainLayout>
<HighlightOnHash client:load />
