---
import MainLayout from '../layouts/MainLayout.astro';
import HighlightOnHash from '../components/Highlight';
import CardsGrid from '../components/CardsGrid.astro';
import content from '../data/content.json';
---

<MainLayout
  title={content.pages.activities.docTitle}
  withSeo={true}
  commonPreloads={true}
>
  <div id="page-activites-container" class="content-container activities-page">
    <h1>{content.pages.activities.title}</h1>
    <div class="content-wrapper">
      <div class="info-wrapper">
        <svg class="info-icon" style="margin-bottom: -0.8rem">
          <use href=`#picto-schedule`></use>
        </svg>
        <p>Horaires</p>
      </div>
      <div class="separator"></div>
      <div class="info-wrapper">
        <svg class="info-icon" style="margin-bottom: -0.5rem">
          <use href=`#picto-info`></use>
        </svg>
        <p>Infos Pratiques</p>
      </div>
      <div class="separator"></div>
      <div class="info-wrapper">
        <svg class="info-icon" style="margin-bottom: -0.4rem">
          <use href=`#picto-price`></use>
        </svg>
        <p>Tarifs</p>
      </div>
      <div class="separator"></div>
      <div class="info-wrapper">
        <svg
          class="info-icon"
          style="margin-bottom: -0.2rem; margin-right: -45rem"
        >
          <use href=`#picto-resa`></use>
        </svg>
        <p>Réservation en ligne</p>
      </div>
    </div>
    <div class="activities-container">
      <CardsGrid />
    </div>
    <div class="contact-wrapper">
      <div class="p-wrapper">
        <p class="contact-text">
          Si vous souhaitez combiner plusieurs activités, contactez-nous pour organiser votre journée !
        </p>
      </div>
      <a href="/contact" class="info-btn">Contactez-nous</a>
    </div>
  </div>
</MainLayout>
<HighlightOnHash client:load />
