---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="CGV" withSeo={false}>
  <div class="mention-wrapper content-container">
    <div class="full-wrapper full-height">
      <div class="mention-container full-content">
        <h2>Conditions générales de vente</h2>
            <p>ICI je pense virer la page et tout simplement au clic sur CGV du Footer ou des infos, declencher un dl du pdf</p>
      </div>
    </div>
  </div>
</MainLayout>
