---
import MainLayout from '../layouts/MainLayout.astro';
import content from '../data/content.json';
import FaqList from '../components/FaqList.astro';
import './../styles/activity_page.scss'
import './../styles/pages.scss'
const data = content.faq;
---

<MainLayout title="FAQ" withSeo={true}>
  <div class="faq-wrapper content-container">
    <div class="faq-container">
      <FaqList items={data}>    
    </div>
  </div>
</MainLayout>