---
import MainLayout from '../layouts/MainLayout.astro';
import HighlightOnHash from '../components/Highlight';
---

<MainLayout title="Nos Activites - Safari Rail Aventure">
  <div id="page-resto-container" class="content-container resto-page">
    <h2>Restauration</h2>
    <div class="resto-container">
      <p>Ici on va metre une petite photo du cabanon et lister RAPIDO ce qu'on peut y trouver</p>
    </div>
  </div>
</MainLayout>
<HighlightOnHash client:load />
