---
import MainLayout from '../layouts/MainLayout.astro';
import content from '../data/content.json';
import HighlightOnHash from '../components/Highlight';
---

<MainLayout title={content.pages.seminaires.docTitle}>
  <div id="seminaires-container" class="content-container seminaires-container">
    <h2>{content.pages.seminaires.title}</h2>
    <p>{content.pages.seminaires.mainText}</p>
    <!-- Contenu minimal pour le moment -->
  </div>
</MainLayout>
<HighlightOnHash client:load />
