.video-blur,
.video-poster,
.video-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-blur {
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.video-poster {
  z-index: 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-bg {
  z-index: 3;
  opacity: 0;

  &.playing {
    opacity: 1;
  }
}
