.video-blur,
.video-poster,
.video-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.video-blur {
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.video-poster {
  z-index: 2;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-bg {
  z-index: 3;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}