.video-blur,
.video-poster,
.video-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-blur {
  z-index: 1;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.1);
}

.video-poster {
  z-index: 2;
  opacity: 0;
  transition: opacity 0.4s ease;
  
  &.loaded {
    opacity: 1;
  }
}

.video-bg {
  z-index: 3;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}