---
const { title = SITE_TITLE, withSeo = true } = Astro.props;

import { SITE_LANG, SITE_TITLE, VIDEO_HERO_URL } from '../config';
import '../styles/main.scss';
import '../styles/pages.scss';
import '../styles/animations.scss';
import Seo from './Seo.astro';

const isProd = import.meta.env.PROD;
---

<!doctype html>
<!-- SITE BASICS  -->
<html lang={SITE_LANG}>
  <title>{title}</title>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover"
  />

  <!-- FAVICONS  -->
  <link rel="shortcut icon" type="image/x-icon" href="/img/icons/favicon.png" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/img/icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/img/icons/favicon-16x16.png"
  />
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="/fonts/Lobster.woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="/fonts/Merriweather-Regular.woff2"
    crossorigin="anonymous"
  />
  <link
    as="font"
    type="font/woff2"
    href="/fonts/Merriweather-Bold.woff2"
    crossorigin="anonymous"
  />
  <link
    as="font"
    type="font/woff2"
    href="/fonts/Merriweather-Light.woff2"
    crossorigin="anonymous"
  />
  <link rel="preload" as="image" href="/img/static/header_logo.webp" />
  {
    Astro.url.pathname === '/' && (
      <link rel="prefetch" as="fetch" href={VIDEO_HERO_URL} type="video/webm" />
    )
  }

  {isProd && withSeo && <Seo />}

  <body>
    <slot />
    <script type="module" src="/js-scripts/menu-action.js"></script>
  </body>
</html>
