---
const { title = SITE_TITLE, withSeo = true } = Astro.props;

import { SITE_LANG, SITE_TITLE, VIDEO_HERO_URL } from '../config';
import '../styles/main.scss';
import Seo from './Seo.astro';

const isProd = import.meta.env.PROD;
---

<!doctype html>
<!-- SITE BASICS  -->
<html lang={SITE_LANG}>
  <title>{title}</title>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover"
  />

  <!-- FAVICONS  -->
  <link rel="shortcut icon" type="image/x-icon" href="/img/icons/favicon.png" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/img/icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/img/icons/favicon-16x16.png"
  />
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="/fonts/Marcellus.woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="/fonts/Spectral.woff2"
    crossorigin="anonymous"
  />
  <link
    as="font"
    type="font/woff2"
    href="/fonts/Spectral-Bold.woff2"
    crossorigin="anonymous"
  />
  <link rel="preload" as="image" href="/img/static/header_logo.webp" />
  {
    Astro.url.pathname === '/' && (
      <link
        rel="prefetch"
        as="fetch"
        href={VIDEO_HERO_URL}
        type="video/webm"
      />
    )
  }

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Marcellus&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  {isProd && withSeo && <Seo />}

  <body>
    <slot />
    <script type="module" src="/js-scripts/menu-action.js"></script>
  </body>
</html>
